@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


body {
  font-family: "Outfit", sans-serif;
  background-color: #10141E;
  color: #FFFFFF;
  padding: 50px 80px;
}

/*.poster-card {
  position: relative;
  width: 200px;
  height: 300px;
  border-radius: 5px;

}

.poster-card img {
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}*/

/*.card-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  color: white;
  
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}*/



/*.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}*/